$background: #ECECEC;
$backgroundDM: #535353;
$backgroundBtnDelete: #af1400;
$backgroundBtnEdit: #ce6e00;
$backgroundBtnUndo: #4d4d4d;
$backgroundBtnUpdate: #227700;
$backgroundHeader: #DFDFDF;
$backgroundHeaderDM: #474747;
$backgroundEditMode: #ffffff73;
$colorButton: #ffffff;
$separatorColor: #0000000e;
$textColor: #000000;
$textColorDM: #ffffff;
$backgroundEditModeDM: #2e2e2ed2;

.category {
	max-width: 640px;
	min-width: 440px;
	width: calc(100vw - 20px);
	margin: 0 0 10px 0;
	border-radius: 8px;
	background: $background;
	.categoryHeader {
		padding: 5px 20px;
		display: flex;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		background: $backgroundHeader;
		.name {
			width: calc(100% - 100px);
			transition: background-color .15s ease;
			padding: 0 10px;
			margin: 0;
			line-height: 37px;
			font-weight: bold;
			font-size: 20px;
			color: $textColor;
			border-radius: 8px;
			border: none;
			background: none;
			text-overflow: ellipsis;
			&.editMode {
				background: $backgroundEditMode;
			}
		}
		.categoryButtons,
		.categoryButtonsEdit {
			button {
				width: 40px;
				padding: 1px;
				margin: 0 0 0 10px;
				height: 40px;
				cursor: pointer;
				color: $colorButton;
				border-radius: 8px;
				border: none;
				&.edit {
					background: $backgroundBtnEdit;
				}
				&.delete {
					background: $backgroundBtnDelete;
				}
				&.update {
					background: $backgroundBtnUpdate;
				}
				&.undo {
					background: $backgroundBtnUndo;
				}
			}
		}
		.categoryButtons {
			display: flex;
			&.editMode{
				display: none;
			}
		}
		.categoryButtonsEdit {
			display: none;
			&.editMode{
				display: flex;
			}
		}
	}
	.categoryBody {
		padding: 5px 20px;
		.info {
			width: calc(100% - 20px);
			overflow: hidden;
			transition: background-color .15s ease;
			resize: none;
			padding: 4px 10px;
			height: 60px;
			max-height: 300px;
			font-size: 16px;
			color: $textColor;
			border-radius: 8px;
			border: none;
			background: none;
			&.editMode {
				background: $backgroundEditMode;
			}
			&::-webkit-scrollbar-thumb {
				background: #0000003f;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: #00000072;
			}
		}
		.separator {
			margin: 0;
			border-radius: 1px;
			border: solid 1px $separatorColor;
		}
	}
	.categoryFooter {
		padding: 0 20px 6px 20px;
		height: 40px;
		display: flex;
		.colors {
			width: 150px;
			transition: background-color .15s ease, appearance .15s ease;
			padding: 0 10px;
			height: 40px;
			font-size: 16px;
			color: $textColor;
			border-radius: 8px;
			background: none;
			border: none;
			appearance: none;
			text-overflow: ellipsis;
			&.editMode {
				padding-right: 20px;
				background: $backgroundEditMode;
				appearance: auto;
			}
		}
	}
	&.darkMode {
		background-color: $backgroundDM;
		.categoryHeader {
			background: $backgroundHeaderDM;
			.name {
				color: $textColorDM;
				&.editMode {
					background: $backgroundEditModeDM;
				}
			}
		}
		.categoryBody {
			.info {
				color: $textColorDM;
				&.editMode {
					background: $backgroundEditModeDM;
				}
			}
		}
		.categoryFooter {
			.colors {
				color: $textColorDM;
				&.editMode {
					background: $backgroundEditModeDM;
				}
			}
		}
	}
}
