$background: #ffffff;
$backgroundDM: #2b2b2b;

.page {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: calc(100vh - 50px);
  background: $background;
  &.darkMode {
    background-color: $backgroundDM;
  }
}